# ========================
# ENV (SECRETS)
# ========================
.env
.env.*

# ========================
# PYTHON
# ========================
__pycache__/
*.pyc
.venv/

# ========================
# OUTPUT (gros fichiers)
# ========================
output/

# ========================
# ANDROID LOCAL CONFIG
# ========================
local.properties

# ========================
# ANDROID gradle CONFIG
# ========================
gradle.properties

# ENV
.env

# Gradle
.gradle/
build/
*/build/

# Android
gradle.properties
*.keystore

# Python
.venv/
__pycache__/
*.pyc

# Rust
target/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

ai/Wav2Lip/
whisper.cpp/
vosk-api/
rnnoise/
native/
audiolingo_android/app/src/main/cpp/

# AI Models
*.onnx
*.bin
*.pt

# Android cache
audiolingo_android/caches/
*.hprof

# Python cache
__pycache__/
*.pyc